<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>@ViewBag.Title</title>
	<!-- Add your CSS and script links here -->
	<link href="~/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
	<link rel="stylesheet" href="~/assets/new/css/chatBox.css" />
	<script src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css" rel="stylesheet">
	<!-- Additional CSS files -->
	@await RenderSectionAsync("style", required: false)
</head>

<body class="g-sidenav-show bg-gray-200">
	<partial name="_StudentSideBar" />
	<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
		<partial name="_StudentNavbar" />
		<div class="container-fluid px-2 px-md-4">
			@RenderBody()
		</div>
		<partial name="_StudentFooter" />
		@await RenderSectionAsync("Model", required: false)
	</div>
	<partial name="_StudentChatBox" />
	<!-- Add your JavaScript links here -->
	<script src="~/assets/js/core/popper.min.js"></script>
	<script src="~/assets/js/core/bootstrap.min.js"></script>
	<script src="~/assets/js/material-dashboard.min.js?v=3.0.0"></script>
	@await RenderSectionAsync("scripts", required: false)
</body>

</html>