.chat-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #dee2e6; /* Bootstrap light gray border */
}

.chat-header {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.chat-body {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.chat-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.collapse-icon {
  transition: transform 0.3s ease-in-out;
}

.collapsed .collapse-icon {
  transform: rotate(180deg);
}

.chat-footer {
  padding: 10px;
}

.chat-input-group {
  display: flex;
  align-items: center;
}

.chat-input {
  flex: 1;
}

.send-icon {
  margin-left: 10px;
  cursor: pointer;
}
