@using SchoolSystemTask.Controllers.DTOs;
@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
@model TeacherClassesDTO;

<div class="container-fluid py-4">
    <h3 class="mb-4">Manage Classes</h3>
    <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#examModal" id="add-exam-button">
            <i class="fa fa-plus me-1" aria-hidden="true"></i>Add class
        </button>
    </div>
    <div class="my-4"></div>
    <div class="row mb-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Classes</h6>
                            <p class="text-sm mb-0">
                                <!--
                                <i
                                    class="fa fa-multiply text-danger"
                                    aria-hidden="true"
                                ></i>
                                <span class="font-weight-bold ms-1"
                                >2 Has not been marked yet.</span
                                > -->
                            </p>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end"></div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive dashboard-table">
                        <table class="table align-items-center mb-0">
                            <thead>

                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Subject
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Grade
                                    </th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var _class in Model.Classes)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">Math</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-xs">6th grade</td>

                                        <td class="align-middle">
                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Edit" data-container="body" data-animation="true">
                                                <a href="javascript:;" class="btn btn-link p-1" data-bs-toggle="modal"
                                                    data-bs-target="#examModal" onclick="addDeleteButton()">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                            </span>
                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Enrolled students" data-container="body" data-animation="true">
                                                <a href="students.html" class="btn btn-link p-1">
                                                    <i class="fa-solid fa-clipboard-check"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h6>Latest Updates</h6>
                    <p class="text-sm">
                        <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                        <span class="font-weight-bold">24</span> this week
                    </p>
                </div>
                <div class="card-body p-3">
                    <div class="timeline timeline-one-side">
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-success text-gradient">assignment</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    A new assignment has been added
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    22 DEC 7:20 PM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-danger text-gradient">calendar_today</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Absence request
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    21 DEC 11 PM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-info text-gradient">assignment</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Homework submission created
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    21 DEC 9:34 PM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-warning text-gradient">note</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Note has been add to student.
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    20 DEC 2:20 AM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-primary text-gradient">calendar_today</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Exam date has been set.
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    18 DEC 4:54 AM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step">
                                <i class="material-icons text-dark text-gradient">person</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Student has been added.
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    17 DEC
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Modals
{
    <!-- Add/Edit Classes Modal -->
    <div class="modal fade" id="examModal" tabindex="-1" aria-labelledby="examModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="examModalLabel">Add/Edit Exam</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="classForm">
                        @* Class form with, 1- Select grade, 2- Select subject *@
                        <div class="input-group input-group-static mb-4">
                            <label for="SubjectInput" class="ms-0">Select Subject</label>
                            <select class="form-control" name="subjectId" id="SubjectInput">
                                @foreach (var subject in Model.Subjects)
                                {
                                    <option value="@subject.Id">@subject.Name</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-static mb-4">
                            <label for="GradeInput" class="ms-0">Select Grade</label>
                            <select class="form-control" name="GradeId" id="gradeInput">
                                @foreach (var grade in Model.Grades)
                                {
                                    <option value="@grade.Id">@grade.Name</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" form="classForm" class="btn btn-primary" onclick="addClass()">
                        Save
                    </button>
                    <button id="delete-exam-button" type="submit" form="classForm" class="btn btn-danger d-none">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        const deleteExamButton = document.getElementById("delete-exam-button");
        const addExamButton = document.getElementById("add-exam-button");
        const examModalLabel = document.getElementById("examModalLabel");
        addExamButton.addEventListener("click", () => {
            deleteExamButton.classList.add("d-none");
            examModalLabel.textContent = "Add Class";
        });
        function addDeleteButton() {
            deleteExamButton.classList.remove("d-none");
            examModalLabel.textContent = "Edit Class";
        }
        async function addClass() {
            event.preventDefault()
            let addClassDto = {
                GradeId: document.getElementById("GradeId").value,  // Replace with actual GradeId
                SectionId: document.getElementById("SectionId").value
            }
            let form = document.getElementById("examModal")
            let formData = new FormData(form);
            let response = await fetch("http://localhost:5243/api/ClassesApi",
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(addClassDto)
                }
            )
            console.log(response)
        }
    </script>

}
