@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />

    <title>TalimPro - School Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="/scholar-1.0.0/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/scholar-1.0.0/assets/css/custom-bootstrap.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/templatemo-scholar.css" />
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/owl.css" />
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/animate.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/style.css" />
    <style>
        .card {
            border-radius: 25px;
            .card-header

        {
            border-radius: 24px 24px 0 0;
            padding: 20px;
        }

        .btn {
            border-radius: 25px;
        }

        }</style>
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="@Url.Action("HomePage", "Home")" class="logo">
                            <h1>TalimPro</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section">
                                <a href="#top" class="active">Home</a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="#services">Services</a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="#plans">Plans</a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="#contact">Contact Us</a>
                            </li>
                            <!-- <li class="scroll-to-section">
                                <a href="aboutUs.html">About Us</a>
                            </li> -->
                            <li class="scroll-to-section">
                                <a href="@Url.Action("LoginPage", "Home")">
                                    <button type="button"
                                            class="btn text-white">
                                        Login
                                    </button>
                                </a>
                            </li>
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-banner">
                        <div class="item item-1">
                            <div class="header-text">
                                <span class="category">Efficient Management</span>
                                <h2>Everything Is Easier</h2>
                                <p>
                                    TalimPro allows teachers to easily track and manage student
                                    performance, attendance, and academic progress. With
                                    real-time updates, educators can make informed decisions to
                                    support students' growth.
                                </p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#plans">Start Now</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item item-2">
                            <div class="header-text">
                                <span class="category">Streamlined Communication</span>
                                <h2>Connect Parents</h2>
                                <p>
                                    With TalimPro, Teachers can effortlessly communicate with
                                    parents, sending important updates about their child's
                                    performance, attendance, or behavior. The built-in messaging
                                    system ensures that parents are always in the loop.
                                </p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#plans">Start Now</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item item-3">
                            <div class="header-text">
                                <span class="category">Homework and Exam Management</span>
                                <h2>Publish Schedules</h2>
                                <p>
                                    With just a few clicks, TalimPro teachers can assign
                                    homework and schedule exams. Students and parents are
                                    notified automatically, ensuring that everyone is
                                    well-prepared and up-to-date.
                                </p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#plans">Start Now</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item item-4">
                            <div class="header-text">
                                <span class="category">Achievement System</span>
                                <h2>Rewarding Students</h2>
                                <p>
                                    Students can earn achievements and badges for completing
                                    tasks, staying on top of their assignments, and engaging in
                                    classroom activities. These achievements motivate students
                                    and encourage a positive learning environment.
                                </p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#plans">Start Now</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item item-5">
                            <div class="header-text">
                                <span class="category">Notes and Feedback</span>
                                <h2>Personalized Feedback</h2>
                                <p>
                                    Teachers can leave notes and feedback for students, helping
                                    them improve and stay on the right track. Students benefit
                                    from clear, actionable guidance tailored to their individual
                                    needs.
                                </p>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#plans">Start Now</a>
                                    </div>
                                    <!-- <div class="icon-button">
                                      <a href="#"
                                        ><i class="fa fa-play"></i> What's Online Course?</a
                                      >
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <i class="fa-solid fa-5x fa-user-graduate"></i>
                        </div>
                        <div class="main-content">
                            <h4>Student Management</h4>
                            <p>
                                Efficiently monitor student progress, attendance, and
                                performance. Keep track of students' academic journey in
                                real-time to ensure they are on the right path.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <i class="fa-solid fa-5x fa-calendar-alt"></i>
                        </div>
                        <div class="main-content">
                            <h4>Homework & Exam Scheduling</h4>
                            <p>
                                Simplify homework assignments and exam schedules by allowing
                                teachers to post them directly to the platform. Students and
                                parents can stay informed and prepared.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <i class="fa-solid fa-5x fa-check-square"></i>
                        </div>
                        <div class="main-content">
                            <h4>Attendance Tracking</h4>
                            <p>
                                Keep track of student attendance with ease. Teachers can mark
                                daily attendance, generate reports, and keep parents informed
                                about their child's presence in class.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <i class="fa-solid fa-5x fa-comments"></i>
                        </div>
                        <div class="main-content">
                            <h4>Parent-Teacher Communication</h4>
                            <p>
                                Facilitate effective communication between teachers and
                                parents. Easily share updates, messages, and reports to keep
                                parents involved in their child's education.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <i class="fa-solid fa-5x fa-trophy"></i>
                        </div>
                        <div class="main-content">
                            <h4>Achievements & Rewards</h4>
                            <p>
                                Motivate students by awarding them achievements for completing
                                tasks and excelling in their studies. Recognizing their hard
                                work encourages continued growth.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <i class="fa-solid fa-5x fa-pen-to-square"></i>
                        </div>
                        <div class="main-content">
                            <h4>Teacher Notes & Feedback</h4>
                            <p>
                                Whether you have questions, need assistance, or simply want to
                                learn more about how we can support your school, we're here to
                                help. Reach out to us anytime, and our team will be happy to
                                assist you with prompt and friendly service.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    Where shall we begin?
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    To start using TalimPro, simply create an account for your
                                    school and explore the key features that streamline student
                                    management, attendance, homework, and communication. We
                                    provide a comprehensive onboarding process to ensure you’re
                                    set up for success from day one.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    How do we work together?
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    TalimPro fosters collaboration by connecting teachers,
                                    students, and parents. Teachers can easily share updates,
                                    homework, and feedback, while parents stay engaged with
                                    their child's progress through our intuitive platform.
                                    Together, we create a supportive learning environment that
                                    encourages student success.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Why TalimPro is the best?
                                </button>
                            </h2>
                            <div id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    TalimPro stands out due to its user-friendly interface,
                                    comprehensive features, and commitment to providing a
                                    seamless experience for both educators and parents. From
                                    real-time updates to personalized student feedback, TalimPro
                                    helps schools improve academic outcomes and strengthen
                                    communication between all stakeholders.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour"
                                        aria-expanded="false"
                                        aria-controls="collapseFour">
                                    Do we get the best support?
                                </button>
                            </h2>
                            <div id="collapseFour"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingFour"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Absolutely! TalimPro provides 24/7 customer support to
                                    ensure your experience is smooth and efficient. Whether you
                                    need help with setup, troubleshooting, or exploring new
                                    features, our dedicated support team is here to assist you
                                    every step of the way.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>What Makes Us the Best Online Academy?</h2>
                        <p>
                            At TalimPro, we believe in creating an exceptional learning
                            environment that brings together students, teachers, and parents
                            in a seamless, efficient way. Our platform offers innovative
                            tools for monitoring student progress, managing attendance,
                            assigning homework, and fostering communication, all tailored to
                            meet the unique needs of each school. With a focus on
                            collaboration and real-time updates, we ensure that every
                            student is set up for success.
                        </p>
                        <!-- <div class="main-button">
                          <a href="#">Discover More</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number"
                                        data-to="500"
                                        data-speed="1000"></h2>
                                    <p class="count-text">Happy Teacher</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number"
                                        data-to="1500"
                                        data-speed="1000"></h2>
                                    <p class="count-text">Students</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number"
                                        data-to="50"
                                        data-speed="1000"></h2>
                                    <p class="count-text">School</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter end">
                                    <h2 class="timer count-title count-number"
                                        data-to="5"
                                        data-speed="1000"></h2>
                                    <p class="count-text">Years Experience</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-sm-4 py-sm-4"></div>
    <!-- Add some space -->

    <div class="section testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="owl-carousel owl-testimonials">
                        <div class="item">
                            <p>
                                “TalimPro has completely transformed the way we manage our
                                school. From easy attendance tracking to real-time updates,
                                it's an essential tool for both teachers and parents.”
                            </p>
                            <div class="author">
                                <img src="/scholar-1.0.0/assets/images/testimonial-author-4.jpg"
                                     alt="Sarah Williams" />
                                <span class="category">School Principal</span>
                                <h4>Sarah Williams</h4>
                            </div>
                        </div>
                        <div class="item">
                            <p>
                                “As a teacher, TalimPro makes my job easier. I can assign
                                homework, track student progress, and provide feedback
                                effortlessly. I highly recommend this platform to all
                                educators.”
                            </p>
                            <div class="author">
                                <img src="/scholar-1.0.0/assets/images/testimonial-author-2.jpg"
                                     alt="Maryam Mirzakhani" />
                                <span class="category">Math Teacher</span>
                                <h4>Maryam Mirzakhani</h4>
                            </div>
                        </div>
                        <div class="item">
                            <p>
                                “TalimPro is a game changer! The platform's communication
                                tools have made it so much easier for me to stay updated on my
                                child's performance and connect with teachers whenever
                                needed.”
                            </p>
                            <div class="author">
                                <img src="/scholar-1.0.0/assets/images/testimonial-author-1.jpg"
                                     alt="Lisa Martin" />
                                <span class="category">Parent</span>
                                <h4>Lisa Martin</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="section-heading">
                        <h6>TESTIMONIALS</h6>
                        <h2>What They Say About Us?</h2>
                        <p>
                            TalimPro has been praised by educators, parents, and
                            administrators for its ease of use, comprehensive features, and
                            positive impact on student performance. Here's what some of them
                            have to say.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pricing Section -->
    <section class="pricing py-5 bg-light" id="plans">
        <div class="container">
            <h2 class="text-center mb-4">Choose your package</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="card mb-4 w-100 border-primary">
                        <div class="card-header bg-primary h5 text-white">Free Plan</div>
                        <div class="card-body d-flex flex-column">
                            <h3>$0/month</h3>
                            <ul>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Up to 20 students
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Basic Student
                                    Information System (SIS)
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Attendance Tracking
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Grade Management
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Basic
                                    Parent-Teacher Communication
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Timetable
                                    Scheduling
                                </li>
                            </ul>
                            <div class="mt-auto">
                                <a href="#" class="btn btn-outline-primary">Start with Free</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="card mb-4 w-100 border-primary">
                        <div class="card-header bg-primary text-white h5">Standard</div>
                        <div class="card-body d-flex flex-column">
                            <h3>Starting at $15/month</h3>
                            <ul>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Up to 200 students
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Student Information
                                    System (SIS)
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Attendance Tracking
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Parent-Teacher
                                    Communication
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Timetable
                                    Scheduling
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-dot"></i> Basic Exam Management
                                </li>
                                <li><i class="fa-solid fa-circle-dot"></i> Fee Management</li>
                            </ul>
                            <div class="mt-auto">
                                <a href="#" class="btn btn-outline-primary">Select Standard</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex">
                    <div class="card mb-4 w-100 border-primary">
                        <div class="card-header h5 bg-primary text-white">Premium Plus</div>
                        <div class="card-body d-flex flex-column">
                            <h3>Starting at $59/month</h3>
                            <ul>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Unlimited students
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> All features from
                                    Standard Plan
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Multi-language
                                    Support
                                </li>
                                <li>
                                    <i class="fa-regular fa-circle-dot"></i> Custom Reports
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-dot"></i> Customizable
                                    Dashboards
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-dot"></i> Priority Customer
                                    Support
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-dot"></i> Advanced Data
                                    Security and Backup
                                </li>
                            </ul>
                            <div class="mt-auto">
                                <a href="#" class="btn btn-outline-primary">Select Premium</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="contact-us section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="section-heading mb-4">
                        <h6>Contact Us</h6>
                        <h2>Feel free to contact us anytime</h2>
                        <p>
                            Whether you have questions, need assistance, or want to learn
                            more about how we can help, we're here for you. Reach out to us
                            at any time, and we'll be happy to assist you with your
                            inquiries.
                        </p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-us-content">
                        <form id="contact-form" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="text"
                                               name="name"
                                               id="name"
                                               placeholder="Your Name..."
                                               autocomplete="on"
                                               required />
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="text"
                                               name="email"
                                               id="email"
                                               pattern="[^ @@]*@@[^ @@]*"
                                               placeholder="Your E-mail..."
                                               required="" />
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message"
                                                  id="message"
                                                  placeholder="Your Message"></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit"
                                                id="form-submit"
                                                class="orange-button">
                                            Send Message Now
                                        </button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Copyright © 2024 TalimPro Organization. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/scholar-1.0.0/vendor/jquery/jquery.min.js"></script>
    <script src="/scholar-1.0.0/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/scholar-1.0.0/assets/js/isotope.min.js"></script>
    <script src="/scholar-1.0.0/assets/js/owl-carousel.js"></script>
    <script src="/scholar-1.0.0/assets/js/counter.js"></script>
    <script src="/scholar-1.0.0/assets/js/custom.js"></script>
</body>
</html>
