@model UserTeacher;
@{
	ViewData["Title"] = $"Profile {Model.Teacher.FirstName} {Model.Teacher.LastName}";
	Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="container-fluid px-2 px-md-4">
	<div class="page-header min-height-300 border-radius-xl mt-4" style="
            background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');
		  ">
		<span class="mask bg-gradient-primary opacity-6"></span>
	</div>
	<div class="card card-body mx-3 mx-md-4 mt-n6">
		<div class="row gx-4 mb-2">
			<div class="col-auto">
				<div class="avatar avatar-xl position-relative">
					<img src="../assets/img/team-4.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm" />
				</div>
			</div>
			<div class="col-auto my-auto">
				<div class="h-100">
					<h5 class="mb-1">Ahmad Khaled</h5>
					<p class="mb-0 font-weight-normal text-sm">English Teacher</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3"></div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-12 col-xl-4">
					<div class="card card-plain h-100">
						<h6 class="mb-0">Platform Settings</h6>
						<div class="card-body p-3">
							<h6 class="text-uppercase text-body text-xs font-weight-bolder">
								Account
							</h6>
							<div class="container mt-5">
								<div class="row justify-content-center">
									<!-- Plan Section -->
									<h5 class="text-center">Current Plan</h5>
									<div class="card-body text-center">
										<h6 class="card-title">Basic Plan</h6>
										<p class="card-text">
											You have access to 1 class, 1 assignments per day,
											and 20 student limit.
										</p>
										<hr />
										<p class="card-text"><strong>Price:</strong> Free</p>
										<p class="card-text">
											<strong>Duration:</strong> 1 year
										</p>
										<p class="card-text">
											<strong>Expiration:</strong> Dec 31, 2024
										</p>
									</div>
									<div class="card-footer text-center">
										<button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#subscriptionModal">Upgrade Plan</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-4">
					<div class="card card-plain h-100">
						<div class="card-header pb-0 p-3">
							<div class="row">
								<div class="col-md-8 d-flex align-items-center">
									<h6 class="mb-0">Profile Information</h6>
								</div>
								<div class="col-md-4 text-end">
									<span data-bs-toggle="modal" data-bs-target="#editProfileModal">
										<i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
										   data-bs-placement="top" title="Edit Profile"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="card-body p-3">
							<p class="text-sm">
								Dedicated English teacher with over 5 years of experience.
								He specializes in grammar, literature, and conversational
								English, helping students improve their language skills in
								a supportive environment.
							</p>
							<hr class="horizontal gray-light my-4" />
							<ul class="list-group">
								<li class="list-group-item border-0 ps-0 pt-0 text-sm">
									<strong class="text-dark">Full Name:</strong> &nbsp;
									Ahmad Khaled
								</li>
								<li class="list-group-item border-0 ps-0 text-sm">
									<strong class="text-dark">Mobile:</strong> &nbsp;
									+962770303030
								</li>
								<li class="list-group-item border-0 ps-0 text-sm">
									<strong class="text-dark">Email:</strong> &nbsp;
									AhmadKhaled@TaleamPro.com
								</li>
								<li class="list-group-item border-0 ps-0 text-sm">
									<strong class="text-dark">Location:</strong> &nbsp;
									Jordan
								</li>
								<li class="list-group-item border-0 ps-0 pb-0">
									<strong class="text-dark text-sm">Social:</strong>
									&nbsp;
									<a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
										<i class="fab fa-facebook fa-lg"></i>
									</a>
									<a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
										<i class="fab fa-twitter fa-lg"></i>
									</a>
									<a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="javascript:;">
										<i class="fab fa-instagram fa-lg"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-4">
					<div class="card card-plain h-100">
						<div class="card-header pb-0 p-3">
							<h6 class="mb-0">CurrentClasses</h6>
						</div>
						<div class="card-body p-3">
							<ul class="list-group">
								<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
									<div class="avatar me-3">
										<img src="../assets/img/kal-visuals-square.jpg" alt="kal"
											 class="border-radius-lg shadow" />
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Ahmad Abdul-Mahdi</h6>
										<p class="mb-0 text-xs">Math teacher</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
									   href="chat.html">Chat</a>
								</li>
								<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
									<div class="avatar me-3">
										<img src="../assets/img/marie.jpg" alt="kal" class="border-radius-lg shadow" />
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Samar Khaled</h6>
										<p class="mb-0 text-xs">Art Teacher</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
									   href="chat.html">chat</a>
								</li>
								<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
									<div class="avatar me-3">
										<img src="../assets/img/ivana-square.jpg" alt="kal"
											 class="border-radius-lg shadow" />
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Khaled Abdul-Rahman</h6>
										<p class="mb-0 text-xs">Science Teacher</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
									   href="javascript:;">Chat</a>
								</li>
								<li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
									<div class="avatar me-3">
										<img src="../assets/img/team-4.jpg" alt="kal" class="border-radius-lg shadow" />
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Mahmoud Al-Amin</h6>
										<p class="mb-0 text-xs">School Administrator</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
									   href="javascript:;">chat</a>
								</li>
								<li class="list-group-item border-0 d-flex align-items-center px-0">
									<div class="avatar me-3">
										<img src="../assets/img/team-3.jpg" alt="kal" class="border-radius-lg shadow" />
									</div>
									<div class="d-flex align-items-start flex-column justify-content-center">
										<h6 class="mb-0 text-sm">Hala Saeed</h6>
										<p class="mb-0 text-xs">Educational guide</p>
									</div>
									<a class="btn btn-link pe-3 ps-0 mb-0 ms-auto w-25 w-md-auto"
									   href="javascript:;">chat</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Modals {
	<!-- subscription modal  -->
	<!-- Modal -->
	<div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title font-weight-normal" id="subscriptionModalLabel">Upgrade Your Plan</h5>
					<button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Choose a subscription plan that fits your needs:</p>
					<div class="list-group">
						<button type="button" class="list-group-item list-group-item-action" id="standardPlan">
							<h5 class="mb-1">Standard Plan</h5>
							<p class="mb-1">Basic features for individual use. $10/month</p>
						</button>
						<button type="button" class="list-group-item list-group-item-action" id="premiumPlan">
							<h5 class="mb-1">Premium Plan</h5>
							<p class="mb-1">Advanced features for professionals. $25/month</p>
						</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn bg-gradient-primary" id="confirmSelection">Confirm Selection</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit Profile Modal -->
	<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title font-weight-normal" id="editProfileModalLabel">Edit Profile Information</h5>
					<button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="editProfileForm" method="post" action="/TeacherProfile/UpdateProfile">
						<div class="mb-3">
							<label for="fullName" class="form-label">Full Name</label>
							<input type="text" class="form-control" id="fullName" name="FullName" placeholder="Enter your full name" value="Ahmad Khaled">
						</div>
						<div class="mb-3">
							<label for="specialty" class="form-label">Specialty</label>
							<input type="text" class="form-control" id="specialty" name="Specialty" placeholder="Enter your specialty" value="Ahmad Khaled">
						</div>
						<div class="mb-3">
							<label for="mobile" class="form-label">Mobile</label>
							<input type="tel" class="form-control" id="mobile" name="Mobile" placeholder="Enter your mobile number" value="+962770303030">
						</div>
						<div class="mb-3">
							<label for="location" class="form-label">Location</label>
							<input type="text" class="form-control" id="location" name="Location" placeholder="Enter your location" value="Jordan">
						</div>
						<div class="mb-3">
							<label for="bio" class="form-label">Bio</label>
							<textarea class="form-control" id="bio" name="Bio" rows="3" placeholder="Enter a short bio">Dedicated English teacher with over 5 years of experience. He specializes in grammar, literature, and conversational English, helping students improve their language skills in a supportive environment.</textarea>
						</div>
						<div class="mb-3">
							<label class="form-label">Social Links</label>
							<div class="input-group mb-2">
								<span class="input-group-text"><i class="fab fa-facebook"></i></span>
								<input type="url" class="form-control" id="facebook" name="Facebook" placeholder="Facebook Profile Link">
							</div>
							<div class="input-group mb-2">
								<span class="input-group-text"><i class="fab fa-twitter"></i></span>
								<input type="url" class="form-control" id="twitter" name="Twitter" placeholder="Twitter Profile Link">
							</div>
							<div class="input-group mb-2">
								<span class="input-group-text"><i class="fab fa-instagram"></i></span>
								<input type="url" class="form-control" id="instagram" name="Instagram" placeholder="Instagram Profile Link">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn bg-gradient-primary" onclick="document.getElementById('editProfileForm').submit()">Save Changes</button>
				</div>
			</div>
		</div>
	</div>

}
@section Scripts {

}